body {
  margin-top: 107px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: .9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 15px; }

#showcase {
  position: relative;
  background: linear-gradient(rgba(50, 146, 166, 0.8), rgba(50, 146, 166, 0.4)), url("../img/mountains.jpg");
  min-height: 600px; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: solid 1px #3292a6; }

#authors img {
  margin-top: -45px; }

#authors .fa {
  font-size: 20px; }

#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover h5 {
    color: white !important; }
  #authors .card:hover .fa {
    color: #fff; }
